<html>
    <head>
        <title>コウタのブログ</title>
    </head>
    <body>
        <div>
            <h1><a href="/">コウタのブログ</a></h1>
        </div>
        
        <div>
            <p>公開日: 14.06.2014, 12:14</p>
            <h2><a href="">初めての投稿</a></h2>
            <p>こんにちは！ よろしくお願いします！ </p> 
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">二回目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>

